<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
              <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;{{ site.email | replace: " [maupa] ", "@" | encode_email }}">
                <script type="text/javascript">
                  document.write(decodeURI('{{ site.email  | encode_email | split: '' | reverse }}'.split('').reverse().join("")).replace(" [maupa] ", "@"));
                </script>
              </a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% include social.html %}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
