---
---

$brand-color:      #ae2524 !default;

@import "minima";

.site-header {
  background-color: $brand_color;
  border-top: 5px solid $background_color;
  border-bottom: 1px solid $background_color;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

/*
.site-header .wrapper {
  padding-top: 180px;
}
*/


.site-title, .site-title:visited {
  padding-top: 5px;
  padding-left: 70px;
  padding-bottom: 5px;
  background-image: url("/images/logo2.png");
  background-position: left center;
  background-size: 56px;// 200px;
  background-repeat: no-repeat;
  color: $background_color;
}

.site-nav {
  line-height: 20px;
  padding-top: 40px;
}

.site-nav .page-link {
  color: $background_color;
}

@include media-query($on-palm) {
  .site-nav .page-link {
    color: $brand_color;
  }

  .site-nav {
    padding-top: 0;
    margin-top: 5px;
  }

  #menu {
    display: none;
  }

  #menu-toggle:checked + #menu {
    display: block;
  }

}

#menu-toggle {
  display: none; /* hide the menu toggle checkbox */
}
